section {
  overflow: hidden;
}
.intro_body {
  /* width: 20%; */
  margin: 178px 0 0 61px;
}

.introHolder{
    width: 430px;
}

.intro {
  width: 101px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 1000px 1000px 1000px 0;
  padding: 4px 12px;
  font-size: medium;
}

.intro_name {
  color: var(--dark);
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
}

.intro_designation {
  color: var(--grey);
  font-size: larger;
  padding: 4px 0;
  font-weight: 500;
}

.intro_ContactContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 348px;
  margin-top: 35px;
}

.intro_ContactContainer a {
  padding: 10px;
}

.contact-link-body{
    width: 48px;
    height: 48px;
    margin-right: 35px;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.contact-link-body img{
    filter: invert(100%);
}


img {
  width: 28px;
  height: 28px;
}
