section{
    overflow: hidden;
}
.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.intro_body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 64px;
}

[data-aos^=zoom][data-aos^=zoom].aos.animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos]{
    transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos]{
    transition-duration: .4s;
}

[data-aos^=zoom][data-aos^=zoom]{
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos=zoom-in]{
    transform: scale(.6);
}

.intro_profile_pic_holder {
    padding-bottom: 32px;
}

.intro_Ring{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_Ring1 {
    height: 280px;
    width: 280px;
    background-color: var(--ring1);
}

.intro_Ring2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: var(--ring2);
}

.intro_Ring3{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: var(--ring3);
}


.introHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.intro {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 1000px 1000px 1000px 0;
    padding: 2px 8px;
    font-size: smaller;
}

.intro_name {
    color: var(--dark);
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: x-large;
    font-weight: 700;
}

.intro_designation{
    color: var(--grey);
}

img {
    width: 28px;
    height: 28px;
}

@media screen and (min-width:1200px){
    img {
        height: 28px;
        width: 28px;
    }
    .introHolder{
        margin-bottom: 10px;
    }
    .intro_name{
        font-size: 48px;
    }
    .intro_designation{
        font-size: larger;
    }
}

@media screen and (min-width:992px) {
    .introHolder{
        align-items: flex-start;
        margin-bottom: 8px;
    }
    .container{
        padding-left: 64px !important;
        padding-right: 64px !important;
    }
    .intro_body{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 64px;
    }
    .intro_name{
        margin: 6px 0;
    }
    
}

@media screen and (min-width:568px) {
    .intro_Ring1{
        height: 400px;
        width: 400px;
    }
    .intro_Ring2{
        height: 360px;
        width: 360px;
    }
    .intro_Ring3{
        height: 320px;
        width: 320px;
    }
    .introHolder{
        margin-bottom: 5px;
    }
    .intro_name{
        font-size: xx-large;
    }
}

