:root {
  --blue: #00adff;
  --grey: grey;
  --white: #fff;
  --ring1: #d5d5d5;
  --ring2: #9b9b9b;
  --ring3: #616161;
  --dark: #111;
}

* {
  font-family: Roboto; 
  box-sizing: border-box;
  transition: 0.4s
}

body {
  background-color: #f1f1f1;
}

@media screen and (min-width: 1200px) {
  :root {
    --toggler-position: 12px;
  }
}
